footer.footer
    .footer-wrap
        .logo
            img.logo_img(src="img/logoDarc.svg" alt="")
        .soc
            ul.soc__list
                li.soc__item
                    a.soc__link(href='#')
                        i.icon.icon-inst(aria-hidden='true')
                li.soc__item
                    a.soc__link(href='#')
                        i.fa.fa-twitter(aria-hidden='true')
                li.soc__item
                    a.soc__link(href='#')
                        i.fa.fa-facebook(aria-hidden='true')
                li.soc__item
                    a.soc__link(href='#')
                        i.fa.fa-youtube-play(aria-hidden='true')
        .copyright
            span.copyright__text © Креативная мастерская “MOPS”, ФОП Писарчук М., 2019
