extends /1-global-template/main/main.pug
block content
    main.front
        section.title
            .slogan
                .heading
                    h1.heading__text Возьмем часть производства на себя либо произведем продукт целиком
                .separator
                .description
                    p.description__text Используем ваш брендинг и упаковку
                .cost
                    a.cost__button.swing(href='#') просчитать стоимость
        section.advantages
            .advantages-wrap
                .heading-section
                    h2.heading-section__text Преимущества
                .separator.separator_heading
                .advantages-content
                    .content__item
                        img.content__item-img(src='img/conv.svg', alt='')
                        p.content__item-title Гибкость
                        p.content__item-description Полный цикл либо частичное производство
                    .content__item
                        img.content__item-img(src='img/manufacturing.svg', alt='')
                        p.content__item-title Любой объем
                        p.content__item-description Работаем от 1+ единицы товара
                    .content__item
                        img.content__item-img(src='img/control.svg', alt='')
                        p.content__item-title Качество
                        p.content__item-description Контролируем качество на каждом этапе
                    .content__item
                        img.content__item-img(src='img/call-center.svg', alt='')
                        p.content__item-title Прозрачность
                        p.content__item-description Оповещаем о переходе на следующий этап
                    .content__item
                        img.content__item-img(src='img/savings.svg', alt='')
                        p.content__item-title Экономность
                        p.content__item-description Почасовая оплата при заказе отдельной услуги
                    .content__item
                        img.content__item-img(src='img/credit-cards.svg', alt='')
                        p.content__item-title Удобная оплата
                        p.content__item-description Наличные или перевод, отсрочка платежа
        section.works
            .heading-section
                h2.heading-section__text Как мы работаем
            .separator.separator_heading
            .works-content
                .content__item.content__item_width
                    p.content__item-title Гибкость
                    p.content__item-description Полный цикл либо частичное производство
                .content__item.content__item_width
                    p.content__item-title Гибкость
                    p.content__item-description Полный цикл либо частичное производство
                .content__item.content__item_width
                    p.content__item-title Гибкость
                    p.content__item-description Полный цикл либо частичное производство
                .content__item.content__item_width
                    p.content__item-title Гибкость
                    p.content__item-description Полный цикл либо частичное производство
                .content__item.content__item_width
                    p.content__item-title Гибкость
                    p.content__item-description Полный цикл либо частичное производство
                .content__item.content__item_width
                    p.content__item-title Гибкость
                    p.content__item-description Полный цикл либо частичное производство
                .svg-work
                    <svg class="line-desktop" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1201" height="407" viewBox="0 0 1201 407">
                        <defs>
                            <circle id="b" cx="35" cy="35" r="35"/>
                            <filter id="a" width="171.4%" height="171.4%" x="-35.7%" y="-28.6%" filterUnits="objectBoundingBox">
                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"/>
                                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="7.5"/>
                                <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.450980392 0 0 0 0 0.235294118 0 0 0 0 0.725490196 0 0 0 0.202605988 0"/>
                            </filter>
                            <circle id="d" cx="693" cy="61" r="35"/>
                            <filter id="c" width="171.4%" height="171.4%" x="-35.7%" y="-28.6%" filterUnits="objectBoundingBox">
                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"/>
                                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="7.5"/>
                                <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.450980392 0 0 0 0 0.235294118 0 0 0 0 0.725490196 0 0 0 0.202605988 0"/>
                            </filter>
                            <circle id="f" cx="1021" cy="61" r="35"/>
                            <filter id="e" width="171.4%" height="171.4%" x="-35.7%" y="-28.6%" filterUnits="objectBoundingBox">
                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"/>
                                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="7.5"/>
                                <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.450980392 0 0 0 0 0.235294118 0 0 0 0 0.725490196 0 0 0 0.202605988 0"/>
                            </filter>
                            <circle id="h" cx="361" cy="350" r="35"/>
                            <filter id="g" width="171.4%" height="171.4%" x="-35.7%" y="-28.6%" filterUnits="objectBoundingBox">
                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"/>
                                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="7.5"/>
                                <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.450980392 0 0 0 0 0.235294118 0 0 0 0 0.725490196 0 0 0 0.202605988 0"/>
                            </filter>
                            <circle id="j" cx="692" cy="350" r="35"/>
                            <filter id="i" width="171.4%" height="171.4%" x="-35.7%" y="-28.6%" filterUnits="objectBoundingBox">
                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"/>
                                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="7.5"/>
                                <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.450980392 0 0 0 0 0.235294118 0 0 0 0 0.725490196 0 0 0 0.202605988 0"/>
                            </filter>
                            <circle id="l" cx="362" cy="61" r="35"/>
                            <filter id="k" width="171.4%" height="171.4%" x="-35.7%" y="-28.6%" filterUnits="objectBoundingBox">
                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"/>
                                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="7.5"/>
                                <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.450980392 0 0 0 0 0.235294118 0 0 0 0 0.725490196 0 0 0 0.202605988 0"/>
                            </filter>
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <path stroke="#733CB9" stroke-dasharray="2,6" stroke-width="3" d="M72 62.798c38.491-35.333 83.717-53 135.679-53 77.942 0 121.265 53 168.903 53 47.639 0 154.818 93.6 333.86 0 179.04-93.6 279.867-64.238 303.954-11.204 16.057 35.356 30.927 39.09 44.608 11.204C1152.334 65.402 1199 103.136 1199 176c0 109.296-139.996 118.177-246.526 118.177S402.07 236 348.623 273.158c-35.631 24.773-32.782 51.048 8.55 78.825 123.56 36.023 236.318 36.023 338.275 0"/>
                            <g opacity=".98" transform="translate(15 28)">
                                <use fill="#000" filter="url(#a)" xlink:href="#b"/>
                                <use fill="#FFF" xlink:href="#b"/>
                            </g>
                            <text fill="#733CB9" font-family="Montserrat-Medium, Montserrat" font-size="36" font-weight="400" transform="translate(15 28)">
                                <tspan x="28" y="52">1</tspan>
                            </text>
                            <g opacity=".98" transform="translate(15 2)">
                                <use fill="#000" filter="url(#c)" xlink:href="#d"/>
                                <use fill="#FFF" xlink:href="#d"/>
                            </g>
                            <text fill="#733CB9" font-family="Montserrat-Medium, Montserrat" font-size="36" font-weight="400" transform="translate(15 2)">
                                <tspan x="682.5" y="78">3</tspan>
                            </text>
                            <g opacity=".98" transform="translate(15 2)">
                                <use fill="#000" filter="url(#e)" xlink:href="#f"/>
                                <use fill="#FFF" xlink:href="#f"/>
                            </g>
                            <text fill="#733CB9" font-family="Montserrat-Medium, Montserrat" font-size="36" font-weight="400" transform="translate(15 2)">
                                <tspan x="1008.5" y="78">4</tspan>
                            </text>
                            <g opacity=".98" transform="translate(15 2)">
                                <use fill="#000" filter="url(#g)" xlink:href="#h"/>
                                <use fill="#FFF" xlink:href="#h"/>
                            </g>
                            <text fill="#733CB9" font-family="Montserrat-Medium, Montserrat" font-size="36" font-weight="400" transform="translate(15 2)">
                                <tspan x="350.5" y="367">5</tspan>
                            </text>
                            <g opacity=".98" transform="translate(15 2)">
                                <use fill="#000" filter="url(#i)" xlink:href="#j"/>
                                <use fill="#FFF" xlink:href="#j"/>
                            </g>
                            <text fill="#733CB9" font-family="Montserrat-Medium, Montserrat" font-size="36" font-weight="400" transform="translate(15 2)">
                                <tspan x="680.5" y="367">6</tspan>
                            </text>
                            <g opacity=".98" transform="translate(15 2)">
                                <use fill="#000" filter="url(#k)" xlink:href="#l"/>
                                <use fill="#FFF" xlink:href="#l"/>
                            </g>
                            <text fill="#733CB9" font-family="Montserrat-Medium, Montserrat" font-size="36" font-weight="400" transform="translate(15 2)">
                                <tspan x="351.5" y="78">2</tspan>
                            </text>
                        </g>
                    </svg>
                    <svg class="svg-mobile" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="339" height="1293" viewBox="0 0 339 1293">
                        <defs>
                            <circle id="b1" cx="35" cy="35" r="35"/>
                            <filter id="a1" width="171.4%" height="171.4%" x="-35.7%" y="-28.6%" filterUnits="objectBoundingBox">
                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"/>
                                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="7.5"/>
                                <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.450980392 0 0 0 0 0.235294118 0 0 0 0 0.725490196 0 0 0 0.202605988 0"/>
                            </filter>
                            <circle id="d1" cx="169" cy="293" r="35"/>
                            <filter id="c1" width="171.4%" height="171.4%" x="-35.7%" y="-28.6%" filterUnits="objectBoundingBox">
                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"/>
                                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="7.5"/>
                                <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.450980392 0 0 0 0 0.235294118 0 0 0 0 0.725490196 0 0 0 0.202605988 0"/>
                            </filter>
                            <circle id="f1" cx="169" cy="503" r="35"/>
                            <filter id="e1" width="171.4%" height="171.4%" x="-35.7%" y="-28.6%" filterUnits="objectBoundingBox">
                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"/>
                                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="7.5"/>
                                <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.450980392 0 0 0 0 0.235294118 0 0 0 0 0.725490196 0 0 0 0.202605988 0"/>
                            </filter>
                            <circle id="h1" cx="168" cy="761" r="35"/>
                            <filter id="g1" width="171.4%" height="171.4%" x="-35.7%" y="-28.6%" filterUnits="objectBoundingBox">
                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"/>
                                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="7.5"/>
                                <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.450980392 0 0 0 0 0.235294118 0 0 0 0 0.725490196 0 0 0 0.202605988 0"/>
                            </filter>
                            <circle id="j1" cx="168" cy="995" r="35"/>
                            <filter id="i1" width="171.4%" height="171.4%" x="-35.7%" y="-28.6%" filterUnits="objectBoundingBox">
                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"/>
                                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="7.5"/>
                                <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.450980392 0 0 0 0 0.235294118 0 0 0 0 0.725490196 0 0 0 0.202605988 0"/>
                            </filter>
                            <circle id="l1" cx="168" cy="1228" r="35"/>
                            <filter id="k1" width="171.4%" height="171.4%" x="-35.7%" y="-28.6%" filterUnits="objectBoundingBox">
                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"/>
                                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="7.5"/>
                                <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.450980392 0 0 0 0 0.235294118 0 0 0 0 0.725490196 0 0 0 0.202605988 0"/>
                            </filter>
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <path stroke="#733CB9" stroke-dasharray="2,6" stroke-width="3" d="M171 45c110.667 10.764 166 51.831 166 123.202S284 285.172 178 305c-117.333.236-176 33.236-176 99 0 65.764 56.333 102.098 169 109 110.667 15.652 166 58.486 166 128.5 0 70.014-55.333 113.181-166 129.5C58.333 776.966 2 816.283 2 888.95 2 961.615 57.833 1000.3 169.5 1005c111.667 13.162 167.5 51.896 167.5 116.204 0 64.307-55.833 103.239-167.5 116.796"/>
                            <g opacity=".98" transform="translate(136 10)">
                                <use fill="#000" filter="url(#a1)" xlink:href="#b1"/>
                                <use fill="#FFF" xlink:href="#b1"/>
                            </g>
                            <text fill="#733CB9" font-family="Montserrat-Medium, Montserrat" font-size="36" font-weight="400" transform="translate(136 10)">
                                <tspan x="28" y="52">1</tspan>
                            </text>
                            <g opacity=".98" transform="translate(2 10)">
                                <use fill="#000" filter="url(#c1)" xlink:href="#d1"/>
                                <use fill="#FFF" xlink:href="#d1"/>
                            </g>
                            <text fill="#733CB9" font-family="Montserrat-Medium, Montserrat" font-size="36" font-weight="400" transform="translate(2 10)">
                                <tspan x="158.5" y="310">2</tspan>
                            </text>
                            <g opacity=".98" transform="translate(2 10)">
                                <use fill="#000" filter="url(#e1)" xlink:href="#f1"/>
                                <use fill="#FFF" xlink:href="#f1"/>
                            </g>
                            <text fill="#733CB9" font-family="Montserrat-Medium, Montserrat" font-size="36" font-weight="400" transform="translate(2 10)">
                                <tspan x="158.5" y="520">3</tspan>
                            </text>
                            <g opacity=".98" transform="translate(2 10)">
                                <use fill="#000" filter="url(#g1)" xlink:href="#h1"/>
                                <use fill="#FFF" xlink:href="#h1"/>
                            </g>
                            <text fill="#733CB9" font-family="Montserrat-Medium, Montserrat" font-size="36" font-weight="400" transform="translate(2 10)">
                                <tspan x="155.5" y="778">4</tspan>
                            </text>
                            <g opacity=".98" transform="translate(2 10)">
                                <use fill="#000" filter="url(#i1)" xlink:href="#j1"/>
                                <use fill="#FFF" xlink:href="#j1"/>
                            </g>
                            <text fill="#733CB9" font-family="Montserrat-Medium, Montserrat" font-size="36" font-weight="400" transform="translate(2 10)">
                                <tspan x="157.5" y="1012">5</tspan>
                            </text>
                            <g opacity=".98" transform="translate(2 10)">
                                <use fill="#000" filter="url(#k1)" xlink:href="#l1"/>
                                <use fill="#FFF" xlink:href="#l1"/>
                            </g>
                            <text fill="#733CB9" font-family="Montserrat-Medium, Montserrat" font-size="36" font-weight="400" transform="translate(2 10)">
                                <tspan x="156.5" y="1245">6</tspan>
                            </text>
                        </g>
                    </svg>

        section.services
            .heading-section
                h2.heading-section__text Услуги
            .separator.separator_heading
            .services-content
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_double_width
                    p.content__item-title.content__item-title_left Гибкость
                    p.content__item-description.content__item-title_left
                        | Полный цикл либо частичное
                        | производство
                    a.content__item__button.swing(href='#') просчитать стоимость
        section.portfolio
            .heading-section
                h2.heading-section__text Наши работы
            .separator.separator_heading
            .portfolio-content
                .slider-wrap
                    .arrow-wrap
                        img#portfolioLeft.portfolio-arrow(src="img/arrow-slider-left.svg" alt="")
                        img#portfolioRight.portfolio-arrow(src="img/arrow-slider-right.svg" alt="")
                    ul#portfolio.cs-hidden
                        li
                            .slide-item
                                img.slide-item__img(src="img/test.jpg" alt="")
                        li
                            .slide-item
                                img.slide-item__img(src="img/test.jpg" alt="")
                        li
                            .slide-item
                                img.slide-item__img(src="img/test.jpg" alt="")
                        li
                            .slide-item
                                img.slide-item__img(src="img/test.jpg" alt="")
                        li
                            .slide-item
                                img.slide-item__img(src="img/test.jpg" alt="")
                .download-button
                    a.content__item__button.swing(href="#") скачать pdf презентацию
        section.products
            .heading-section
                h2.heading-section__text Продукция
            .separator.separator_heading
            .products-content
                .products__item
                    img.products__img(src="img/snow.jpg" alt="")
                    p.products__text Внешняя реклама
                .products__item
                    img.products__img(src="img/oil.jpg" alt="")
                    p.products__text Брендированные товары
        section.team
            .heading-section
                h2.heading-section__text Команда
            .separator.separator_heading_padding
            .team-description
                span.team-description__text "MOPS" — это команда, которая занимается созданием... тут можно представить команду.
            .team-content
                .team-slider
                    img#teamLeft.team-arrow(src='img/arrow-slider-left.svg', alt='')
                    .slider-wrap.slider-wrap_team
                        ul#team
                            li
                                .team-item
                                    img.team-item__img(src='img/face.jpg', alt='')
                                    .content__item.content_item_team
                                        p.content__item-title.content__item-title_team Олег
                                        .separator.separator_small
                                        p.content__item-description.content__item-description_team глава отдела производства
                            li
                                .team-item
                                    img.team-item__img(src='img/face.jpg', alt='')
                                    .content__item.content_item_team
                                        p.content__item-title.content__item-title_team Олег
                                        .separator.separator_small
                                        p.content__item-description.content__item-description_team глава отдела производства
                            li
                                .team-item
                                    img.team-item__img(src='img/face.jpg', alt='')
                                    .content__item.content_item_team
                                        p.content__item-title.content__item-title_team Олег
                                        .separator.separator_small
                                        p.content__item-description.content__item-description_team глава отдела производства
                            li
                                .team-item
                                    img.team-item__img(src='img/face.jpg', alt='')
                                    .content__item.content_item_team
                                        p.content__item-title.content__item-title_team Олег
                                        .separator.separator_small
                                        p.content__item-description.content__item-description_team глава отдела производства
                            li
                                .team-item
                                    img.team-item__img(src='img/face.jpg', alt='')
                                    .content__item.content_item_team
                                        p.content__item-title.content__item-title_team Олег
                                        .separator.separator_small
                                        p.content__item-description.content__item-description_team глава отдела производства                       
                    img#teamRight.team-arrow(src='img/arrow-slider-right.svg', alt='')
            .download-button.download-button_team
                a.content__item__button.swing(href='#') Посмотреть всю команду

        section.case
            .heading-section
                h2.heading-section__text Case studies
            .separator.separator_heading_padding
            .team-content
                .team-slider
                    img#caseLeft.team-arrow(src='img/arrow-slider-left.svg', alt='')
                    .slider-wrap.slider-wrap_team
                        ul#case
                            li
                                .case-item
                                    img.case-item__img(src='img/mrc.jpg', alt='')
                                    .content__item.content_item_team
                                        p.content__item-title_case Medical Research Council
                                        .separator.separator_small
                                        p.content__item-description.content__item-description_team Фасадная группа для центра обуви и еще строка
                            li
                                .case-item
                                    img.case-item__img(src='img/mrc.jpg', alt='')
                                    .content__item.content_item_team
                                        p.content__item-title_case Medical Research Council
                                        .separator.separator_small
                                        p.content__item-description.content__item-description_team Фасадная группа для центра обуви и еще строка
                            li
                                .case-item
                                    img.case-item__img(src='img/mrc.jpg', alt='')
                                    .content__item.content_item_team
                                        p.content__item-title_case Medical Research Council
                                        .separator.separator_small
                                        p.content__item-description.content__item-description_team Фасадная группа для центра обуви и еще строка
                            li
                                .case-item
                                    img.case-item__img(src='img/mrc.jpg', alt='')
                                    .content__item.content_item_team
                                        p.content__item-title_case Medical Research Council
                                        .separator.separator_small
                                        p.content__item-description.content__item-description_team Фасадная группа для центра обуви и еще строка
                            li
                                .case-item
                                    img.case-item__img(src='img/mrc.jpg', alt='')
                                    .content__item.content_item_team
                                        p.content__item-title_case Medical Research Council
                                        .separator.separator_small
                                        p.content__item-description.content__item-description_team Фасадная группа для центра обуви и еще строка
                            li
                                .case-item
                                    img.case-item__img(src='img/mrc.jpg', alt='')
                                    .content__item.content_item_team
                                        p.content__item-title_case Medical Research Council
                                        .separator.separator_small
                                        p.content__item-description.content__item-description_team Фасадная группа для центра обуви и еще строка
                    img#caseRight.team-arrow(src='img/arrow-slider-right.svg', alt='')
            .download-button.download-button_team
                a.content__item__button.swing(href='#') Посмотреть все

        section.contact-form
            .map
                adress.contacts
                    h2.contacts__heading Контакты
                    .contacts__separator
                    .tabs
                        ul.tabs__caption
                            li.active.tabs_contacts Львов
                            li.tabs_contacts Киев
                        .tabs__content.active
                            .adress-list
                                img.adress-list__img.adress-list__img_p(src="img/mapmarker.svg" alt="")
                                a.adress-list__text(href="#") Львов, ул.Щирецкая 36
                            .adress-list
                                img.adress-list__img(src="img/clock.svg" alt="")
                                a.adress-list__text(href="#") Пн — пт, с 09:00 до 21:00
                            .adress-list
                                img.adress-list__img(src="img/telsmall.svg" alt="")
                                ul.phone-list
                                    li.phone-list__item
                                        a.adress-list__text(href="tel:+380955489009") +38 (095) 548-90-09
                                    li.phone-list__item
                                        a.adress-list__text(href="tel:+380735489009") +38 (073) 548-90-09
                                    li.phone-list__item
                                        a.adress-list__text(href="tel:+380985489009")  +38 (098) 548-90-09
                            .adress-list
                                img.adress-list__img(src="img/letter.svg" alt="")
                                a.adress-list__text(href="mailto:maxim@mops.org.in") maxim@mops.org.in
                        .tabs__content
                            .adress-list
                                img.adress-list__img.adress-list__img_p(src="img/mapmarker.svg" alt="")
                                a.adress-list__text(href="#") Киев, ул.Щирецкая 36
                            .adress-list
                                img.adress-list__img(src="img/clock.svg" alt="")
                                a.adress-list__text(href="#") Пн — пт, с 09:00 до 21:00
                            .adress-list
                                img.adress-list__img(src="img/telsmall.svg" alt="")
                                ul.phone-list
                                    li.phone-list__item
                                        a.adress-list__text(href="tel:+380955489009") +38 (095) 548-90-09
                                    li.phone-list__item
                                        a.adress-list__text(href="tel:+380735489009") +38 (073) 548-90-09
                                    li.phone-list__item
                                        a.adress-list__text(href="tel:+380985489009")  +38 (098) 548-90-09
                            .adress-list
                                img.adress-list__img(src="img/letter.svg" alt="")
                                a.adress-list__text(href="mailto:maxim@mops.org.in") maxim@mops.org.in
                .form-wrap                   
                    h2.form-wrap__heading Заявка
                    .form-wrap__separator
                    form.form(action="")
                        .form__row
                            label.form__label(for="") Ваше имя
                            input.form__input.form__input_text.wpcf7-not-valid(type="text" name="inputName" id="inputName" maxlength="25")
                        .form__row
                            label.form__label(for="") Email
                            input.form__input.form__input_email(type="email" name="inputEmail" id="inputEmail" maxlength="25")
                        .form__row.form__row_margin
                            label.form__label(for="") Телефон
                            input.form__input.form__input_phone(type="text" name="inputPhone" id="inputPhone" maxlength="25" minlength="17")
                        .form__row.form__row_margin
                            input.form__input.form__input_textarea(type="text" name="inputTextarea" id="inputTextarea" placeholder="Комментарий")
                        .form__row
                            input.form__submit(type="submit" value="Отправить")


                

