extends /1-global-template/main/main.pug
block content
    main.front
        section.title
            .slogan
                .heading
                    h1.heading__text Возьмем часть производства на себя либо произведем продукт целиком
                .separator
                .description
                    p.description__text Используем ваш брендинг и упаковку
                .cost
                    a.cost__button.swing(href='#') просчитать стоимость
        section.advantages
            .advantages-wrap
                .heading-section
                    h2.heading-section__text Преимущества
                .separator.separator_heading
                .advantages-content
                    .content__item
                        img.content__item-img(src='img/conv.svg', alt='')
                        p.content__item-title Гибкость
                        p.content__item-description Полный цикл либо частичное производство
                    .content__item
                        img.content__item-img(src='img/manufacturing.svg', alt='')
                        p.content__item-title Любой обьем
                        p.content__item-description Работаем от 1+ единицы товара
                    .content__item
                        img.content__item-img(src='img/control.svg', alt='')
                        p.content__item-title Качество
                        p.content__item-description Контролируем качество на каждом этапе
                    .content__item
                        img.content__item-img(src='img/call-center.svg', alt='')
                        p.content__item-title Прозрачность
                        p.content__item-description Оповещаем о переходе на следующий этап
                    .content__item
                        img.content__item-img(src='img/savings.svg', alt='')
                        p.content__item-title Экономность
                        p.content__item-description Почасовая оплата при заказе отдельной услуги
                    .content__item
                        img.content__item-img(src='img/credit-cards.svg', alt='')
                        p.content__item-title Удобная оплата
                        p.content__item-description Наличные или перевод, отсрочка платежа
        section.services
            .heading-section
                h2.heading-section__text Услуги
            .separator.separator_heading
            .services-content
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_size
                    a.over(href='')
                        span Узнать подробнее
                    img.content__item-img.content__item-img_size(src='img/conv.svg', alt='')
                    p.content__item-description.content__item-description_modif Дизайн
                .content__item.content__item_double_width
                    p.content__item-title.content__item-title_left Гибкость
                    p.content__item-description.content__item-title_left
                        | Полный цикл либо частичное
                        | производство
                    a.content__item__button.swing(href='#') просчитать стоимость

        

