/// fonts 

$fontFamily: "sans-serif";

/// fonts name

$MontserratMedium: "Montserrat-Medium", $fontFamily;
$MontserratBold: "Montserrat-Bold", $fontFamily;
$MontserratRegular: "Montserrat-Regular", $fontFamily;
$MontserratExtraBold: "Montserrat-ExtraBold", $fontFamily;
$LatoRegular: "Lato-Regular", $fontFamily;

/// colors 

$black: #000;
$white: #fff;
$orange: #ffc05c;
$fiolet: #733cb9;


