header.header
    .header-wrap
        .logo.logo-mobile
            a(href="#" class="logo__link")
                img(src="img/mobile-logo.svg", alt="")
        .header-content(id="headerContact")
            .logo.logo-desktop
                a.logo__link(href="#")
                    img.logo__img(src="img/logo.png", alt="")
            nav.menu(id="menu")
                ul.menu__list
                    li
                        a(href="#") О нас
                    li
                        a.menu__item_marker Продукция
                        ul.submenu.submenu__products
                            li.fons
                                a(href="") 
                                    p.over
                                        span Узнать подробнее
                                    img(src="img/snow-m.jpg", alt="")
                                    span Внешняя реклама
                            li.fons
                                a(href="")
                                    p.over
                                        span Узнать подробнее
                                    img(src="img/oil-m.jpg", alt="")
                                    span Брендированные товары
                    li
                        a.menu__item_marker Услуги
                        ul.submenu.submenu__services
                            li
                                a(href='#')
                                    p.over
                                        span Узнать подробнее
                                    img(src='img/design.svg' alt='')
                                    span 3D печать
                            li
                                a(href='#')
                                    p.over
                                        span Узнать подробнее
                                    img(src='img/design.svg' alt='')
                                    span 3D печать
                            li
                                a(href='#')
                                    p.over
                                        span Узнать подробнее
                                    img(src='img/design.svg' alt='')
                                    span 3D печать
                            li
                                a(href='#')
                                    p.over
                                        span Узнать подробнее
                                    img(src='img/design.svg' alt='')
                                    span 3D печать
                            li
                                a(href='#')
                                    p.over
                                        span Узнать подробнее
                                    img(src='img/design.svg' alt='')
                                    span 3D печать
                            li
                                a(href='#')
                                    p.over
                                        span Узнать подробнее
                                    img(src='img/design.svg' alt='')
                                    span 3D печать
                            li
                                a(href='#')
                                    p.over
                                        span Узнать подробнее
                                    img(src='img/design.svg' alt='')
                                    span 3D печать
                            li
                                a(href='#')
                                    p.over
                                        span Узнать подробнее
                                    img(src='img/design.svg' alt='')
                                    span 3D печать
                            li
                                a(href='#')
                                    p.over
                                        span Узнать подробнее
                                    img(src='img/design.svg' alt='')
                                    span 3D печать
                    li
                        a(href="") Case Studies
                    li
                        a(href="") Блог
                    li
                        a(href="") Контакты
            .contact(id="contact")
                .phone
                    img.phone__marker(src='img/tel.svg' alt='')
                    a.phone__number(href='tel:+380955489009') +38 (095) 548-90-09
                .lang
                    ul.lang__list
                        li.lang__item.lang__item_active
                            a.lang__link(href='#') ru
                        li.lang__item
                            a.lang__link(href='#') en
        .burger
            input.burger-input(type='checkbox' id="burger")
            label.burger-label(for='burger' id="burgerLabel")
                span
                span
                span

    