<!DOCTYPE html>
html(lang="en")
	include /1-global-template/head/head.pug
	body
		.container
			include /5-header/header-main/header-main.pug
			block content
			include /6-footer/footer-main/footer-main.pug	
		
